# node

NODE_ENV="development"

# application

APPLICATION_HOST="localhost"
APPLICATION_PORT=4000
APPLICATION_URL="http://${APPLICATION_HOST}:${APPLICATION_PORT}"

# origin

ALLOWED_ORIGIN="http://localhost:3000"

# cookie

COOKIE_SECRET="cookie_secret"
COOKIE_DOMAIN="localhost"

# session

SESSION_SECRET="session_secret"
SESSION_NAME="session"
SESSION_MAX_AGE="30d"
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER="sessions:"

# postgres

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="postgres"
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

# redis

REDIS_USER="redis"
REDIS_PASSWORD="redis"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"